body{
	font-family: 'Exo', sans-serif;
}

#topMenu{
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
	background-color: #6495ED;
	padding: 10px;	
}

.menu{
	font-size: 25px;
	list-style-type: none;
	margin: 20px;
	color: #FFFFFF;
	transition: color 0.6s ease-out;
}

.menu:hover{
	color: #FF1493
}

i{
	margin-right: 10px;
}

#bio{
	display: flex;
	flex-direction: row;
	height: 500px;
	padding: 20px;
	border-top: 1px solid black;
	border-bottom: 1px solid black;
}

#profilePic{
	border: 1px solid black;
	border-radius: 20px;
	height: 300px;
}

#data{
	margin-left: 20px;
	width: 100%;	
}

#fullname{
	font-size: 45px;
	border-bottom: 1px solid black;
	font-weight: 900;
}

#fullname, #age, #job, #hobbies, #location, #wants, #iconwrapper{
	margin: 5px;
	transition: color 0.6s ease-out;
}

#fullname:hover, #age:hover, #job:hover, #hobbies:hover, #location:hover, #wants:hover{
	margin: 5px;
	color: #FF1493;
}

#age, #job, #hobbies, #location, #wants{
	font-size: 30px;
}

#iconwrapper{
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	margin-top: 15px;
}
#thumb, #mail, #heart{
	font-size: 50px;
	transition: color 0.6s ease-out;
}

#thumb:hover, #mail:hover, #heart:hover{
	color:#FF1493
}

#profile{
	padding: 20px;
	font-size: 30px;
	height: 250px;
	border-bottom: 1px solid black;
}

.otherMatches{
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	padding: 10px;
	background-color: #6495ED;
}
.otherBox{
	margin: 20px;
	padding: 20px;
	text-align: center;
	font-size: 25px;
}

.firstName, .otherAge, .status, .motto{
	color: #FFFFFF;	
	transition: color 0.6s ease-out;	
}

.firstName:hover, .otherAge:hover, .status:hover, .motto:hover{
	color:#FF1493
}

.other{
	border: 1px solid black;
	border-radius: 20px;
	width: 300px;
	height: 300px;
}

@media screen and (max-width: 920px){
	#topMenu{
		justify-content: space-around;
	}
	.menu{
		font-size: 20px;
	}
	#bio{
		height: 300px;
	}
	#profilePic{
		height: 200px;
	}
	
	#fullname{
		font-size: 30px;
	}
	#age, #job, #hobbies, #location, #wants{
		font-size: 20px;
	}
	#thumb, #mail, #heart{
		font-size: 30px;
	}
	#profile{
		font-size: 20px;
	}
	.otherBox{
		font-size: 18px;
	}
	.other{
		width: 200px;
		height: 200px;
	}
}

@media screen and (max-width: 600px){
	#topMenu, #bio{
		flex-direction: column;
		align-items: center;
	}
	#bio{
		height: 400px;
	}
	#imgwrapper{
		display: block;
		margin-left: auto;
		margin-right: auto;
		width: 50%
	}
	#profilePic{
		height: 120px;
	}
	#fullname{
		font-size: 20px;
	}
	#age, #job, #hobbies, #location, #wants{
		font-size: 15px;
	}
	#thumb, #mail, #heart{
		font-size: 20px;
	}
	#data{
		text-align: center;
	}
	#profile{
		font-size: 15px;
	}
	.otherMatches{
		flex-direction: column;
		align-items: center;
	}
	.otherBox{
		font-size: 15px;
	}
	.other{
		width: 120px;
		height: 120px;
	}
}